@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.83em;
  margin: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: #262A3F;
}

.header,
.section,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .section,
  .footer {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 992px) {
  .header,
  .section,
  .footer {
    padding: 0 calc(50vw - (585px - 26.5%));
  }
}
@media screen and (max-width: 768px) {
  .header,
  .section,
  .footer {
    padding: 0 15px;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51.07%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.menu {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
.menu__item {
  position: relative;
  display: block;
}
.menu__item:hover::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 3px;
  background-color: #F1897B;
  top: 28px;
  left: 50%;
  opacity: 0.3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu__link {
  text-decoration: none;
  color: #262A3F;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.section {
  padding-bottom: 120px;
}

.first-screen {
  background: url(../assets/img/first-screen-bg.png);
  background-size: 100%;
  height: 140vh;
  padding-top: 260px;
  background-repeat: no-repeat;
}

.content__title {
  font-family: "Playfair Display";
  margin-bottom: 30px;
  max-width: 523px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.content__title-green {
  color: #85BBB1;
  font-style: italic;
}
.content__title_big {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 52px;
}
.content__text {
  font-weight: 300;
  line-height: 26px;
  opacity: 0.8;
}
.content__text_mod {
  margin-bottom: 50px;
  max-width: 439px;
}
.content__text_small {
  font-size: 14px;
}
.content__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.12px;
  color: #262A3F;
}
.content__link:hover {
  color: #85BBB1;
}
.content__item {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.content__item_mod {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.btn {
  border: transparent;
  color: #F1897B;
  position: relative;
  background-color: transparent;
}
.btn-mod {
  padding: 33px 96px 37px 89px;
  border: 1px solid #E4E4E4;
  max-width: 302px;
}
.btn-mod::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 86px;
  width: 44%;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
}
.btn__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.btn-red::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;
  width: 100%;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
}
.btn-red:hover::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;
  width: 100%;
  height: 13px;
  opacity: 0.3;
  background: #E54F3A;
}
.btn:hover {
  color: #E54F3A;
}

.info {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 0;
  margin-top: -300px;
}
.info__item {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  gap: 0;
  opacity: 0.8;
  background-color: #FFF;
  padding: 45px 0;
  max-width: 770px;
  max-height: 580px;
  margin-left: -185px;
}
.info__list {
  list-style: none;
  min-width: 370px;
}
.info__descr {
  min-width: 400px;
}

.list {
  text-align: center;
  font-family: "Playfair Display";
}
.list__item:not(:last-child) {
  margin-bottom: 80px;
}
.list__title {
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 12px;
}
.list__decor {
  font-size: 40px;
  line-height: 50px;
  color: #E4E4E4;
  margin-right: 10px;
}
.list__text {
  font-weight: 300;
  line-height: 26px;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 60px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-top: 30px;
  align-content: center;
}
.benefits__content {
  padding: 20px 30px;
  position: relative;
}
.benefits__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  top: -30px;
  left: 0;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0 100px 160px;
  background: url(../assets/img/quote-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.quote__text {
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 1.28px;
  max-width: 710px;
}
.quote__text-sub {
  font-size: 20px;
  font-family: "Playfair Display";
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}
.quote__text::before {
  content: url(../assets/img/quote-icon.svg);
  position: absolute;
  top: 70px;
  left: 100px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  gap: 50px;
}
.video__content {
  border-radius: 32px;
  border: 1px solid #E4E4E4;
}

.promisses {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: none;
  gap: 0;
}
.promisses__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  align-content: center;
  opacity: 0.8;
  background-color: #FFF;
  padding: 75px 0 75px 70px;
}

.reviews__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  position: relative;
}
.reviews__cards::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E4E4E4;
  left: 0;
  bottom: -100px;
}

.card {
  color: #FFF;
}
.card__item {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  gap: 0;
  max-width: 370px;
  height: 340px;
  padding: 30px 40px;
}
.card__item:nth-child(1) {
  background: url("../assets/img/reviews_image1.png") center center/cover no-repeat;
}
.card__item:nth-child(2) {
  background: url("../assets/img/reviews_image2.png") center center/cover no-repeat;
}
.card__item:nth-child(3) {
  background: url("../assets/img/reviews_image3.png") center center/cover no-repeat;
}
.card__text {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
}
.card__sub {
  font-size: 20px;
  font-family: "Playfair Display";
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
  gap: 0;
  padding-top: 40px;
}
.contacts__form {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  gap: 40px;
}
.contacts__item {
  max-width: 470px;
}

.form__input {
  max-width: 470px;
  width: 33vw;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 12px;
  outline: none;
  font-size: 18px;
  font-family: "Playfair Display";
  font-style: italic;
  line-height: 1.1;
  letter-spacing: 1.44px;
}
.form__input:hover::-webkit-input-placeholder {
  color: #85BBB1;
}
.form__input:hover:-ms-input-placeholder {
  color: #85BBB1;
}
.form__input:hover::-ms-input-placeholder {
  color: #85BBB1;
}
.form__input:hover::placeholder {
  color: #85BBB1;
}
.form__label:hover {
  border-bottom: 1px solid #85BBB1;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  border-top: 1px solid #85BBB1;
  padding-top: 30px;
  padding-bottom: 30px;
}